<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609386859120-iikac4jsesq2f2g4e4sd844c3ug3jiab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609386859120-iikac4jsesq2f2g4e4sd844c3ug3jiab</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>609386859120-3vng63ph33b1388q67g6frnite63hvkm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFCMp5vrarSlVXMh-Qn7zA-_pGML_kXzI</string>
	<key>GCM_SENDER_ID</key>
	<string>609386859120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.delivery.shala</string>
	<key>PROJECT_ID</key>
	<string>my-food-c1459</string>
	<key>STORAGE_BUCKET</key>
	<string>my-food-c1459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609386859120:ios:2741f3fe34759c99f402b5</string>
</dict>
</plist>